<h2></h2>
<form action="/login" method="post">
    <ul>
    <li>
        <label>
            <span></span>
            
            <input type="text" class="form-control" name="login" id="login" placeholder="Логин" required autofocus=""  autocomplete="off"/>
            <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" required autocomplete="off" />  
            <button class="btn btn-small" type="submit">Войти</button>

        </label>
    </li>
</ul>
</form>
